# Java class file
*.class

# Package Files #
*.jar
*.war
*.ear

# eclipse setting files #
.classpath
.project
.settings

# mvn target #
target

# jasper report compiled files #
*.jasper

# Mac OS X meta file
.DS_Store

